/* src/styles/LandingPage.css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.landing-page {
    min-height: 100vh;
    background-image: url('/public/HomeBackground.jpg'); /* Ensure this image is in the public folder */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
  }
  
  h1 {
    color: white;
  }
  
  p {
    color: white;
  }